extend layout
block content 
   script(src='list.js')
   .list 
    div(class='background add-item-background')
     h1 Add
     div.add-item
      form(action="/lists?name=#{name}&id=#{id}" method='POST')
          input(type='text' name='item' id='item' autofocus maxlength="13")
          input(
          class='number' 
          type='number' 
          name='itemNumber' 
          id='itemNumber' 
          value='1'     
          min='1' 
          max='99'
          )
          button(onclick='return validate()' class='btn' id='add-item') Add 
    div(class='background list-background')
        div.list-field 
          h1.list-name= name  
          div(class='items' id='items')
            form(action='/removeitem?name=#{name}&id=#{id}' method='POST')
             each item, index in items 
               .item 
                input(type='checkbox' class='rounded' name='#{item.item_name}' id='checkbox-#{index}') 
                label(for='checkbox-#{index}' id='#{index}-name')= item.item_name
                label  
                label(for='checkbox-#{index}' id='#{index}-number')= item.count
             -if (isItems) {    
             button(onclick='return remove()' class='btn btn-left' id='remove-selected') Remove
             - } else {
                div.item
             - }
    
